* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(243, 234, 227);
}

img {
  width: 100%;
}

article {
  background-color: white;
  width: 600px;
  border-radius: 20px;
  overflow: hidden;
}

.posteo {
  display: flex;
  /*gap para separar los items de display: flex*/
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.contenido {}