* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100%;
}

article {
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
}

.posteo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;

}